version: '3'

services:
  postgres:
    image: 'postgres:9.5'
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres

  redis:
    image: 'redis:3.2-alpine'
    ports:
      - '6379:6379'

  web:
    depends_on:
      - 'postgres'
      - 'redis'
    build: .
    ports:
      - '3000:3000'
    volumes:
      - '.:/usr/src/app'
    environment:
      VIRTUAL_HOST: .originality.docker
      DATABASE_URL: postgres://postgres:postgres@postgres/sdrt?

volumes:
  redis:
  postgres:
