<script type="text/javascript">
  function finishRegistration () {
    window.location = '<%= @success_url %>';
  }
</script>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 style="margin-top: 20px;">Plagiarism Detection Example Tool</h2>
      <p>
        In this view you could require a user to login to your system, set configuration options, etc.
      </p>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-success" onclick="finishRegistration()">Finish Registration</button>
  </div>
  <div class="row">
    <table class="table" style="margin-top: 20px;">
      <% params.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>