<div class="row">
  <div class="col-sm-12">
    <h1 style="margin-top: 20px;">Signed Tool Product Profile</h1>
    <p>
      A signed tool product profile is a JWT that contains information needed for a tool consumer to initiate registration with a tool provider. Using a tool product profile gives the tool provider and tool consumer the ability to verify each other's identity at registration time.
    </p>
  </div>
</div>

<div class ="row">
  <div class="col-sm-12">
    <label for="signedProductProfile"><em>Tool product profile:</em></label>
    <textarea readonly class="form-control" id="signedProductProfile" rows="4" style="width: 100%;"><%= @product_profile  %></textarea>
  </div>
</div>