<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">LTI 2 Originality Reference Tool</h1>
    <p>This is a reference LTI 2 implementation of the Canvas Originality Reporting Framework </p>

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Installing</h2>
    <p>To install the tool, copy the registration link below and paste it into the LTI 2 Registration box in cavnas</p>
    <p><input class="form-control" type="text" placeholder="<%= registration_url %>" readonly></p>
  </div>

  <div class="col-md-6">
    <h2>Source Code</h2>
    <p>The source code for this project can be found on <a href="https://github.com/instructure/lti_originality_report_example">github</a></p>
  </div>
</div>