<% @submissions.each do |s| %>
  <div class="row" style="border: solid 1px lightgray; padding: 10px; margin-bottom: 10px">
    <div class="col-3">
      <span>
        <strong>ID: </strong><%= s.id %>
      </span>
    </div>
    <div class="col-3">
      <span>
        <strong>Canvas ID: </strong><%= s.tc_id %>
      </span>
    </div>
    <div class="col-4"></div>
    <div class="col-2">
      <button type="button"
              class="btn btn-outline-primary"
              data-submission-id="<%= s.tc_id %>"
              data-assignment-id="<%= s.assignment.tc_id %>">
        Create Report
      </button>
    </div>
  </div>
<% end %>
